<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>MidjourneyWeb</title>
    <link rel="stylesheet" href="/css/style.css">
</head>
<body>
    <header>
        <%- include('../views/partials/header'); %>
      </header>
<div class="bodyContainer" style="text-align: center;">
    <h1 class="title">Imagine</h1>
    <form action="/addPrompt" method="post">
        <input type="text" placeholder="Describe an image" id="input" name="userInput" required style="width: 400px;"><br><br>
        <select name="model" required>
          <option value=" --v 5.1">Midjourney (classic)</option>
          <option value=" --niji 5">Niji (anime)</option>
          <option value=" --niji 5 --style cute">Niji (anime) - cute</option>
          <option value=" --niji 5 --style expressive">Niji (anime) - expressive</option>
          <option value=" --niji 5 --style scenic">Niji (anime) - scenic</option>
        </select>
        <input type="submit" value="Generate Image" id="subButton">
      </form>
    <hr>
    <div>
        <div id="blue">
            <a href="<%= image_url %>"><img src="<%= image_url %>" id="largeImage"></a>
        </div>
        <div id="buttons">
            <button id="one" method="post" action="/checkmessage">U1</button>
            <button id="two" method="post" action="/checkmessage">U2</button>
            <button id="three" method="post" action="/checkmessage">U3</button>
            <button id="four" method="post" action="/checkmessage">U4</button>
            <button id="five" method="post" action="/checkmessage">↻</button>
            <button id="six" method="post" action="/checkmessage">V1</button>
            <button id="seven" method="post" action="/checkmessage">V2</button>
            <button id="eight" method="post" action="/checkmessage">V3</button>
            <button id="nine" method="post" action="/checkmessage">V4</button>
        </div>
    </div>
    <div class="listContainer">
        <% for(let i=0; i < items.length; i++) { %>
        <form action="/image" method="post">
            <input type="image" class="yellow" src="<%= items[i].image_url %>" <% if (items[i].prompt) { %>title="<%= items[i].prompt %>"<% } %> />
            <input type="hidden" name="message_id" value="<%= items[i].image_message_id %>">
        </form>
        <% } %>
    
    <!-- add copyright -->
    <br>    
    <div class="footer">
        <p>MidjourneyWeb is a web interface for <a href="/">Midjourney</a>.<br> </p>
    </div>
    <script>
      // stringify the data passed from router to ejs (within the EJS template only)
      const sent_messageId = JSON.parse('<%- JSON.stringify(image_message_id) %>')
      const imageType = JSON.parse('<%- JSON.stringify(type) %>')
      
    // Check if image type is null
    if (imageType === null) {
    // Hide the buttons div
    document.getElementById("buttons").style.display = "none";  
}

  </script>
    <script src="main.js"></script>
</div>
</body>
</html>
