<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>MidjourneyWeb</title>
    <link rel="stylesheet" href="css/style.css">
</head>
<body>
<div class="bodyContainer">
    <h1>prompt</h1>
    <form action="/addPrompt" method="post">
        <input type="text" placeholder="prompt" id="input" name="userInput">
        <input type="submit">
        </form>
    

                <div id="imageContainer">
                <div id="imagePlace">
                
                    <img src=<%= image_url %>>
    
                </div>
                
                <div id="buttons">
                <button id="one" method="post" action="/checkmessage">U1</button>
                <button id="two" method="post" action="/checkmessage">U2</button>
                 <button id="three">U3</button>
                 <button id="four">U4</button>
                 <button id="five">↻</button>
                 <button id="six">V1</button>
                 <button id="seven">V2</button>
                 <button id="eight">V3</button>
                 <button id="nine">V4</button>
                 <button id="TEST">frankenstien</button>
                 </div>
        </div>
       </div>
        <div class="listContainer">
        <% for(let i=0; i < items.length; i++) {%>
        <img class ="yellow" src=<%= items[i].image_url %>>
        <% } %>
        </div>

        <div class="listContainer2">
            <% for(let i=0; i < items.length; i++) {%>
            <form action="/image" method="post">
                <input type="image" src=<%= items[i].image_url %> alt=<%= items[i].prompt %> />
                <input type="hidden" name="message_id" value= <%= items[i].image_message_id %>>
                </form>


            <% } %>
         
            </div>
    

    <script>
        // stringify the data passed from router to ejs (within the EJS template only)
        const sent_messageId = JSON.parse('<%- JSON.stringify(image_message_id) %>')
    </script>
        

    <script src='main.js'></script>
</body>
</html>